.section2 {
  padding-top: 8%;
  display: flex;
  height: 90vh;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  overflow: hidden;
}
.sidebar div {
  margin: 3%;
  overflow: hidden;
}
.map {
  width: 100%;
}
.leaflet-container {
  height: 100%;
}
select {
  background-color: white;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  width: 70%;
}
